*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}

/* header area -----------------------------------*/
.header{
    margin-top: 50px;
}
.banner{
    background-image: url('../images/Banner Image.png');
    width: 1320px;
    height: 600px;
    padding: 16px;
    margin: 0 auto;
}

.banner-content{
    padding:177px 344px;
}
.banner-title{
    color: #FFFFFF;
text-align: center;
font-size: 32px;
font-weight: 400;


}
.banner-celebration{
    color: #FFF;

text-align: center;
font-size: 72px;
font-weight: 900;
}

/* main section -----------------------------------*/
.section1{
    margin: 0 auto;
    width: 50%;
    display: block;
   
}

.digit{
    color: #F00;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 120px;
}

.our{
    color: #F00;
    text-align: center;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom:10px;
}

.cata{
    color: #070211;
    text-align: center;
    font-family: san-serif ;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}
.img{
    width: 800px;
    height: 500px;
    padding-bottom: 120px;

}
/* section2 area--------------------- */
.section2{
    margin: 120px 0;
}
.img2{
    background-image: url(../images/Vectorrr.png);
    width: 1320px;
    height: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    
}
.img2-left{
    width: 697px;
    margin: 126px auto ;
}

.welcome{
    width: 642px;
    color: #FFF;
    
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 25px;
}

.dolor{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-bottom: 50px;

}

.join{
    color: #FFF;
    text-align: center;
    font-family:sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.join:hover{
    color: #F00;
}


.img2-right{
    
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    margin: 70px auto;

}

/* section3 area---------------------- */
.section3{
    background-color: #ffccff;
    width: 1320px;
    height: 482px;
    display: block;
    margin: auto;
   

}
.section3-write{
    padding: 100px 390px;
    line-height: 56px;
    text-align: center;
}
.place{
    margin-bottom: 50px;
}

.red{
    color: #F00;;
}

.join-now{
color: #FFF;
font-family: sans-serif;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
background-color:#F00 ;
border-radius: 8px;
display: inline;
padding: 16px 32px;

}
.join-now:hover{
    color: rgb(209, 243, 14);
    background-color: rgb(41, 41, 238);
    transition: .5s;
}
/* section4-area----------------------------- */
.section4{
    display: flex;
    justify-content: space-;
    margin-left: 130px;
    margin-right: 140px;
    margin-bottom: 200px;
    margin-top: 100px;
}
.section4-left{
    text-align: left;
    margin-left: 0;
    padding-left:100px;
}
.new-best{
    color: #F00;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.coming{
color: #070211;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.section4-center{
    /* width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px; */
padding-top: 5px;

}
.year{
    color: #F00;

font-family: Inter;
font-size: 48px;
font-weight: 700;
}
section4-description{
    color: rgba(7, 2, 17, 0.60);

font-family:sans-serif;
font-size: 20px;
font-weight: 400;
}
.ellipse-border{
    display: flex;
    border: 15px solid red;
    border-radius: 50%;
    padding: 40px;


}

.birthday-img{}

.birth-image{
    width: 140px;
    height: 140px;

}
.section4-right{
    margin-left:200px;

}
/* section5 area-------------------------------- */
.section5{
    text-align: center;
}
.WHAT{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.Holidays{
    color: #F00;

text-align: center;
font-size: 72px;
font-weight: 900;
}
.sale{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin: 28px;
}
/* section10------------------------------------- */
.section10{
    
}
.red-box{
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    margin: 0px 150px;
    


}
.man{
    width: 429px;
    height: 433px;
    border-radius: 16px 16px 0px 0px; 

    
}
.gift-box{
position: absolute;
margin-top: 10px;
}
.discount{

}


/* .section6 area------------------------------- */
.section6-text{
    margin-left: 180px;
    padding-left: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.our-awesome{ 
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-family:sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}


.section6{
    margin-top: 100px;
    text-align:center;
}
.the-best{
    color: #F00;
    font-family:sans-serif;
    font-size: 24px;
    font-weight: 500;

}

/* section7 area-------------------------------------- */
.section7{
    text-align: center;
    margin:auto;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 40px 212px;
}
.mail-pic{
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}
.Subscribe{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.email{
    width:600px;
    height: 72px;
    font-size:20px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;


    
}
.dolor-site{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
    
}
.button{
    width: 210px;
    height: 72px;
    border-radius: 50px;
    background: #F00;
    color: white;
}

/* -----------------fotter------------------------ */
.ftr{
    width:100%;
    height: 700px;
    background-color:  #070211;
    margin:auto;
    display: block;
}
/* fotter-section1----------------------------- */
.footer-section1{
    border: 1px solid aliceblue;
    display: flex;
    justify-content: space-between;
    padding:120px 291px 100px;
    
}
.footer-section1-left{
    color: #FFF;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.footer-section1-right{}

.number{
    color: #FFF;
    
    font-family:sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;   
}

/* footer-section2---------------------------- */
.footer-section2{
    text-align: center;
    border-bottom: 1px solid;
    padding:50px;
    border: 1px solid aliceblue;
}

/* .footer-section3-------------------------------- */
.footer-section3{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    
}
.footer-section3-left>p>a{
    color: #FFF;
    font-family:sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.footer-section3-right>button{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    padding: 5px;
    margin-bottom: 120px;
    background-color: #070211 ;
    color: white;
    }
